.wrapper {
  width: fit-content;
  padding: 1rem;
  border-radius: 8px;
  background: var(--green);
  box-shadow: 0px 0px 16px 20px var(--green);

  display: flex;
  gap: 3rem;
}

.salaryButton {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 1.2rem;
  font-weight: 700;

  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.pencilIcon {
  align-self: flex-start;
}

.salaryButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.salaryInputWrapper {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  font-size: 1.2rem;
  font-weight: 700;
}

.salaryInput {
  background: var(--white);

  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 8rem;
  text-align: right;
}

.salaryInput:focus {
  outline: none;
  box-shadow: 0px 0px 20px 0px var(--pink);
}
