.nav {
  position: sticky;
  top: 0;
  z-index: 50;
  transition: all 0.4s ease;

  .container {
    height: 4rem;
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 2rem;
    background-color: rgba(255, 255, 255, 0.563);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
  }

  /* When scrolled */
  &[data-scrolled="true"] {
    top: 10px;

    .container {
      backdrop-filter: blur(12px);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .logo {
      font-size: 1.5rem;
    }

    .logoIcon {
      width: 30px;
      height: 30px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  font-size: 2rem;
  font-family: var(--font-calistoga);

  * {
    transition: all 0.2s ease-in-out 0.6s;
  }
}

.logoIcon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.navLink {
  padding: 1rem;
}

.active {
  font-weight: 700;
  color: var(--grey-900);
}
