@import "tailwindcss";

:root {
  --grey-900: #111827;
  --white: #ffffff;

  --orange: #ff7144;
  --pink: #ffafd8;
  --green: #f0ffa8;
  --off-white: #f3f4e7;
}

body {
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
  color: var(--grey-900);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    var(--font-instrument-serif), Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}

/* Utility classes */
.hideOnMobile {
  display: none !important;
}

@media (min-width: 768px) {
  .hideOnMobile {
    display: block !important;
  }
}
