@import "tailwindcss";

:root {
  --grey-900: #1e1b1b;
  --grey-600: #6a6a6a;
  --white: #ffffff;

  --orange: #ff7144;
  --pink: #ffafd8;
  --green: #f0ffa8;
  --off-white: #f3f4e7;
}

body {
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
  color: var(--grey-900);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    var(--font-instrument-serif), Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}

/* Utility classes */
.hideOnMobile {
  display: none !important;
}

@media (min-width: 768px) {
  .hideOnMobile {
    display: block !important;
  }
}

.text-grey {
  color: var(--grey-600);
}

.text-dark {
  color: var(--grey-900);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
