.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.subtitle {
  color: var(--grey);
  font-size: 0.9rem;
}

.editableCell {
  cursor: pointer;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.2s ease;
}

.emptyPlaceholder {
  color: var(--grey-600);
  font-style: italic;
}

.cellInput {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;

  &:focus {
    outline: none;
    border: none;
    box-shadow: 0px 0px 20px 0px var(--pink);
  }
}

.checkbox {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: var(--pink);
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.tableHeader {
  padding: 0.75rem 1.5rem;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:not(:first-child) {
    text-align: center;
  }
}

.tableHeaderRow {
  background: var(--green);
}

.tableCell {
  padding: 1rem 1.5rem;
  white-space: nowrap;
  font-size: 0.875rem;
  max-width: 20%;

  &:not(:first-child) {
    width: 20%;
    text-align: center;
  }

  &:first-child {
    max-width: 40%;
  }

  &:last-child {
    max-width: 10%;
    width: 10%;
  }
}
